<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="2">

    <test name="login" preserve-order="true">
        <classes>
            <class name="testLogin"></class>
        </classes>
    </test>
    <test name="home" preserve-order="true">
        <classes>
            <class name="testHome"></class>
        </classes>
    </test>

    <!--<groups>-->
        <!--<define name="xbniao"></define>-->
    <!--</groups>-->
</suite>